.productWrapper {
    margin-top: 100px;
    width: 50%;
}
.productImage{
    height: 300px;
    width: 400px;
}
.productSpanCena{
    color: rgb(51, 43, 43);
    font-weight: 600;
}
.wrapperDisplayBlock{
    display: inline-block;
}
.wrapperButtonAdd{
    position: relative;
    margin-left: 20px;
    top:-300px;
    button{
        position: relative;
        border: 1px solid rgb(221, 220, 220);
        background-color: rgb(188, 194, 194);
        height: 70px;
        border-radius: 2px;
        width: 140px;
    }
    button:hover{
        background-color: rgb(224, 224, 224);
    }

}
.productWrapperImageCost{
    margin-left: 50px;
}